.background-image {
    background-image: url("../images/christmas-bg.jpg");
}

.background-image-contact {
    background-image: url("../images/christmas-bg.jpg");
}

nav {
    background: #cc0028;
}

.biobio-btn button {
    background: #cc0028;
}

.biobio-button {
    background: #cc0028;
}

.nav-link:hover {
    color: #cacaca;
}

.nav-active {
    color: #cacaca;
}

.nav-search[type=text]::placeholder {
    color: #cacaca;
}

.nav-search {
    color: white;
}

.tickets-amount-form input {
    border-bottom: 2px solid #cc0028;
}

.footer-subscribe input {
    border-bottom: 2px solid #cc0028;
}